.container
  .row.link
    .col-md-12
      .row.link-top-info
        .col-md-8.link-title
          Why Software Is Eating The World
        .col-md-3.link-author
          by
          %a{href:'#'} Marc Andressen
        .col-md-1.link-year
          %span 2011
      .row.link-bottom-info
        .col-md-4.link-comments
          %a{href:'#'} 23 comments
        .col-md-8.link-submission-info
          .pull-right
            submitted by
            %a{href:'#'} jsnk
            to
            %a{href:'#'} Technology
            7 days ago
