.container
  .row
    .col-md-12
      %h2 More Information about the Link

      %table.table
        %thead
          %tr
            %th Fields
            %th Values
            %th Author
        %tbody
          %tr
            %td= @link.title
            %td= @link.url
            %td= @link.authors.first.name

      %p Optional step to describe author

  .row
    .col-md-6

    .col-md-6
