.link
  .link-title
    font-size: 1.6em
  .link-author
    font-size: 1.4em
  .link-year
    font-size: 1.2em
    color: #fff
    span
      padding: 5px
      background-color: #428bca

  .link-comments

  .link-submission-info

.author-field
  .twitter-typeahead
    width: 100%
.category-field
  .twitter-typeahead
    width: 100%
